@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');

html {
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, grey, white); /* Standard syntax (must be last) */
  min-height: 100vh;
  overflow-y: auto;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.4rem;
}

input.input {
  font-size: 1.4rem;
  margin-bottom: 10px;
}


select {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.3rem;
}

.select {
  font-size: 1.3rem;
}

.select select:not([multiple]) {
  width: 100vw;
}

.trainFields {
  text-align: center;
  width: 20%;
}


.label:not(:last-child) {
  margin: 0;
}

.label {
  font-size: 1.4rem;
}

label.label:not(:last-child) {
  margin-bottom: 10px;
  margin-top: 10px;
}


.programme-headings {
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: center;
}


// button styling ••••••••••••••••••••••••••••••••••••
.button {
  font-family: 'Julius Sans One', sans-serif;
  margin-right: 10px;
  font-weight: bold;
}

.programme-home-buttons {
  margin-top: 10px
}

.buttons .button {
  margin-top: 0.5rem;
}

.inc-dec-buttons {
  margin: 0;
}

button.is-danger.is-level {
  padding-top: 0;
  padding-bottom: 0;
}

.plus-minus {
  font-size: 1.8em;
  line-height: 1px;
}

.del-but {
  margin: 0;
}

.button.is-white.is-outlined:hover {
  background-color: #24d160;
  color: white;
  font-weight: bold;
}

.button.is-white.is-outlined {
  font-weight: bold;
}

.button.is-info {
  background-color: #49b5eb;
}

//  •••••••••••••••••••••••••••••••••••••••••••••

.subtitle:not(:last-child) {
  margin-bottom: 10px;
}

.table {
  margin-top: 15px;
  border-radius: 10px;

}

.table-title{
  text-align: center;
  font-weight: bold;
}

.programme-block {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 12px;
}


.title {
  color: white;
}


// error messages ••••••••••••••••••••••••••••••••••••••

.help.is-danger {
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: 1px solid white;
  text-align: center;
}
